* {
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
  }

body {
    margin: 0;
    font-family: 'MetaPro', Arial;
  }

p {
    margin: 0;
  }

ul {
    list-style-type: none;
    font-weight: 300;
    line-height: 2em;
  }


