$font-family: "MetaPro", Arial;

$black: #000;
$white: #fff;

$blue-lightest: #cae9f0;
$blue-light: #a1cedc;
$blue-mid: #006c8c;
$blue-dark: #0a4a5d;
$blue-darkest: #002e3c;

$light-gray: #dedede;
$lightest-gray: #f2f2f2;
$mid-gray: #979797;
$dark-gray: #646464;

$red: #b70124;
$rose: #f2bfc9;
$green: #5e9d1b;
$light-green: #cee840;
$gothaer-red: #ed706c;
$gothaer-hover: #e9514c;
$color-btn-gradient-start: $blue-mid;
$color-btn-gradient-end: $blue-dark;
