@font-face {
    font-family: 'MetaPro';
    src: url('~@/assets/fonts/MetaPro.ttf') format('truetype'), url('~@/assets/fonts/MetaPro.woff2') format('woff2'),
      url('~@/assets/fonts/MetaPro.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'MetaPro';
    // src: url('~@/assets/fonts/MetaPro-Medium.eot?#iefix') format('embedded-opentype'),
    src: url('~@/assets/fonts/MetaPro-Medium.ttf') format('truetype'),
      url('~@/assets/fonts/MetaPro-Medium.woff2') format('woff2'),
      url('~@/assets/fonts/MetaPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'MetaPro';
    src: url('~@/assets/fonts/MetaPro-Bold.ttf') format('truetype'),
      url('~@/assets/fonts/MetaPro-Bold.woff2') format('woff2'), url('~@/assets/fonts/MetaPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }